<!DOCTYPE html>
<html>
<head>
  <title>G2 Page</title>
</head>
<body>
  <h1>G2 Page</h1>
  <form action="/g2_page" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" required>
    <br>
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" required>
    <br>
    <!-- Add other fields here -->
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
